$hb-header-menu-margin-x: 0.125rem;

.navbar-brand {
  padding-top: $navbar-brand-padding-y - 0.19rem; // 3px
}

.hb-header {
  .navbar {
    --#{$prefix}navbar-hover-color: var(--#{$prefix}header-navbar-active-color);
    --#{$prefix}navbar-active-color: var(
      --#{$prefix}header-navbar-active-color
    );
    --#{$prefix}nav-link-hover-color: var(
      --#{$prefix}header-navbar-active-color
    );
  }
}

.hb-header-nav {
  @extend .bg-body;
}

.hb-header-menus {
  @include media-breakpoint-up($hb-header-breakpoint) {
    .hb-header-menu {
      margin: 0 #{$hb-header-menu-margin-x};
      padding-left: 0;
      padding-right: 0;

      &::after {
        border-bottom: solid 3px var(--#{$prefix}header-navbar-active-color);
        bottom: -#{$navbar-padding-y};
        display: block;
        content: "";
        margin-left: $hb-header-menu-margin-x * 4;
        position: relative;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        width: calc(100% - #{$hb-header-menu-margin-x} * 8);
      }

      &:focus,
      &:hover,
      &.active {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
