{{- $params := .params.hb.header }}
$hb-header-sticky: {{ default true $params.sticky }};
$hb-header-menus-alignment: '{{ default "" $params.menus_alignment }}';
$hb-header-logo-bg: {{ default "null" $params.logo_bg }};
$hb-top-offset: if($hb-header-sticky, 5rem, 24px);
$hb-header-breakpoint: '{{ partialCached "hb/modules/header/functions/breakpoint" . }}';
