{{- $params := .params.hb.header }}
$hb-header-sticky: {{ default true $params.sticky }};
$hb-header-menus-alignment: '{{ default "" $params.menus_alignment }}';
$hb-header-logo-bg: {{ default "null" $params.logo_bg }};
