.hb-header-banner-img,
.hb-header-banner-video {
    object-fit: cover;
}

.hb-header-banner,
.hb-header-banner-frame,
.hb-header-banner-img,
.hb-header-banner-video {
    height: 100vh;
}

.hb-header-banner {
    --#{$prefix}header-banner-color: #fff;

    color: var(--#{$prefix}header-banner-color);

    &:not(.scrolling) {
        .hb-header-nav {
            --#{$prefix}navbar-color: var(--#{$prefix}header-banner-color);
            --#{$prefix}navbar-brand-color: var(--#{$prefix}header-banner-color);
            --#{$prefix}navbar-brand-hover-color: var(--#{$prefix}navbar-active-color);

            background: transparent !important;

            @if not $hb-header-sticky {
                z-index: 1030;
            }
        }

        .navbar-toggler {
            color: var(--#{$prefix}header-banner-color);
        }

        @include media-breakpoint-up(xxl) {
            .hb-header-nav {
                --#{$prefix}navbar-color: var(--#{$prefix}header-banner-color);
            }

            .vr {
                color: #fff !important;
            }
        }
    }
}
