.hb-header {
  .navbar {
    --#{$prefix}navbar-active-color: var(--#{$prefix}primary);
    --#{$prefix}navbar-hover-color: var(--#{$prefix}header-navbar-active-color);
    --#{$prefix}navbar-brand-hover-color: var(--#{$prefix}header-navbar-active-color);
  }
}

.hb-header-nav {
  @extend .bg-body;
}

.hb-header-menus {
  gap: 0.25rem;
}

.hb-header-menu {
  @include media-breakpoint-down($hb-header-breakpoint) {
    padding: 0 0.5rem;
  }

  &.active,
  &:hover {
    --#{$prefix}navbar-active-color: #fff;

    border-radius: 5px;
    background: var(--#{$prefix}primary);

    .nav-link {
      color: #fff;
    }
  }
}

@include media-breakpoint-down($hb-header-breakpoint) {
  .hb-header-panel {
    padding: 0 0.25rem;
  }

  .hb-header-submenus {
    margin-bottom: 0.5rem;
  }
}
