.hb-header-search-icon {
    color: var(--#{$prefix}navbar-color);

    @include media-breakpoint-up(lg) {
        color: var(--#{$prefix}body-color);
        position: absolute;
        left: 0.325rem;
        top: 0.375rem;
    }
}

.hb-header-search-form {
    cursor: pointer;

    input {
        caret-color: transparent;
        cursor: pointer;
        padding-left: 1.875rem;
        width: 168px;
    }
}

.hb-header-search-keys {
    top: 0.35rem;
    right: 0.75rem;

    kbd {
        font-size: 0.75rem;
    }
}
