.hb-header-search-icon {
    color: var(--#{$prefix}navbar-color);

    &:hover {
        svg {
            color: var(--#{$prefix}navbar-hover-color);
        }
    }

    @include media-breakpoint-up(xxl) {
        position: absolute;
        left: 0.25rem;
        top: 0.125rem;
    }
}

.hb-header-search-form {
    cursor: pointer;

    input {
        cursor: pointer;
        padding-left: 1.75rem;
        width: 156px;
    }
}

.hb-header-search-keys {
    top: 0.075rem;
    right: 0.5rem;

    kbd {
        font-size: 0.75rem;
    }
}
